@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --body-color: #e4e9f7;
  --sidebar-color: #22283b;
  --primary-color: #ffffff;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #fff;

  /* ====== Transition ==== */

  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body {
  height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-02);
}

#map {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0; /* Pastikan di belakang konten lain */
}

.leaflet-control-layers {
  background: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  border-radius: 8px;
  margin-right: 485px !important;
  transform: scale(0.8); /* Mengecilkan panel */
  margin-top: -42px !important;
}

.leaflet-control-zoom {
  display: flex !important;
  margin-top: 20px !important;
  margin-right: 535px !important;
}

main,
.sidebar {
  position: relative;
  z-index: 10; /* Konten di atas peta */
}

.header {
  position: fixed;
  top: 5px;
  right: 0px;
  height: 60px;
  padding: 0 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  z-index: 99;
}

/* Search bar */
.search-container {
  position: relative;
}
.search-container input {
  padding: 10px 0px 10px 12px;
  border: none;
  border-radius: 30px;
  outline: none;
  font-size: 18px;
  background-color: #22283b;
  color: white;
  width: 300px;
}
.search-container i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 95%;
  width: 200px;
  background: var(--sidebar-color);
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 100;
  transition: var(--tran-05);
}

.sidebar.close {
  width: 60px;
  border-radius: 10px;
}

.sidebar-search-tugboat.close {
  width: 0px;
}

.sidebar.close li {
  padding: 0 10px;
}

.sidebar .text {
  font-size: 16px;
  color: var(--text-color);
  transition: var(--tran-03);
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .image,
.sidebar.close .text {
  opacity: 0;
}

.sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
}

.sidebar .image-text img {
  width: 100%;
  height: auto;
  padding: 20px;
  margin-top: 20px;
}

.sidebar header {
  position: relative;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  background: #999999;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--sidebar-color);
  font-size: 22px;
  cursor: pointer;
}

.hide-sidebar {
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  background: #999999;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--sidebar-color);
  font-size: 30px;
  cursor: pointer;
}

.sidebar li {
  height: 50px;
  margin-top: 20px;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.sidebar li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
  color: var(--text-color);
  transition: var(--tran-02);
}

.sidebar li a {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar li:hover {
  background-color: #cfcfcf;
  width: 100%;
  transition: var(--tran-05);
}

.sidebar li:hover .icon,
.sidebar li:hover .text {
  color: var(--sidebar-color);
}

.sidebar .menu-bar {
  height: calc(90% - 90px);
  flex-direction: column;
  justify-content: space-between;
}

.profile-badge {
  background-color: #ffffff; /* putih */
  border-radius: 999px;
  border: 1px solid #1a1a1a;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.profile-up {
  font-weight: 600;
  color: #333;
}

.profile-down {
  font-size: 0.9em;
  color: #888;
}

.profile-icon {
  margin-right: 8px;
}

.badge-content {
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.profile-icon-svg {
  height: 32px;
  width: 32px;
}

/* ===== dashboard ===== */

.video-container {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 999;
  justify-items: center;
}

.video-grid iframe {
  height: 180px !important; /* Ukuran video lebih besar */
  width: 100% !important;
  border-radius: 8px !important;
}

.video-grid {
  gap: 10px; /* Sedikit lebih jauh */
  display: flex;
  margin-bottom: -10px;
  justify-content: end;
}

.video-label {
  position: absolute;
  top: 8px;
  left: 8px;
  background: #22283b;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  width: 90%;
  max-width: 800px;
}

.modal video {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.close-btn {
  position: absolute;
  top: -16px;
  right: -16px;
  background: red;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.sidebar-search-tugboat {
  position: absolute;
  top: 75px;
  right: 10px;
  width: 270px;
  background: white;
  border-radius: 10px;
  padding: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 999;
  transition: var(--tran-02);
}

.sidebar-search-tugboat.collapsed {
  width: 0;
  padding: 0;
  transition: var(--tran-03);
}

.sidebar-search-tugboat.collapsed #record-info {
  display: none;
}

.search-bar-tugboat {
  margin-bottom: 12px;
}

.search-bar-tugboat input {
  width: 100%;
  padding: 0px 8px;
  border-radius: 20px;
  border: 2px solid #ccc;
  font-size: 16px;
  color: #000;
  font-weight: 400;
}

.search-bar-tugboat input:focus {
  outline: none;
  box-shadow: none;
  border-color: #ccc; /* Tetap warna abu-abu saat fokus */
}

.form-select-tugboat {
  padding: 5px 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 285px;
  font-size: 16px;
  background: white;
  color: #4b4b4b;
  margin-bottom: 10px;
}

.tugboat-list {
  max-height: 500px; /* Sesuaikan tinggi maksimum sesuai kebutuhan */
  overflow-y: auto;
}

.fleet-card {
  display: flex;
  background: #e4e4e4;
  padding: 4px 8px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.fleet-icon img {
  width: 50px;
  height: auto;
  margin-right: 12px;
}

.fleet-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.fleet-header {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  color: #3a3a3a;
  margin-bottom: 5px;
}

.fleet-title {
  font-size: 14px;
  color: #000000;
}

.fleet-online {
  color: green;
  font-size: 12px;
}

.fleet-info-line {
  display: flex;
  justify-content: space-between;
  color: #4f4f4f;
  font-size: 12px;
  padding: 2px 0;
}

.highlight-tugboat {
  background-color: #cfe8ff !important;
}

small {
  font-size: 14px; /* Atur sesuai kebutuhan */
}

.record-tugboat {
  text-align: start;
  align-items: center;
}

.highlight {
  background-color: #cfe8ff !important;
}

/* =====active===== */
.sidebar li.active {
  background-color: #cfcfcf;
}

.sidebar li.active .icon,
.sidebar li.active .text {
  color: var(--sidebar-color);
}

.header-schedule {
  display: flex;
  gap: 33px;
  justify-content: end;
  font-weight: 600;
  margin-bottom: 50px;
}

.header-schedule div {
  text-align: center;
  width: 80px;
}
